  <table class="table split table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Due Date</th>
        <th scope="col">Status</th>
        <th scope="col">Assignee</th>
        <th scope="col">Manage</th>
      </tr>
    </thead>

    <tbody>
      {{#each tasks}}
      <tr>
        <th scope="row">{{id}}</th>
        <td>{{name}}</td>
        <td>{{description}}</td>
        <td {{#if isOverdue}} class="danger" {{/if}}>{{due_date}}</td>
        <td>{{status}}</td>
        <td>{{assignee_name}}</td>
        <td>
					{{#ifCond ../page '==' 'project'}}
						<a href="/task/{{id}}">
							<button type="button" class="btn btn-success">
								View Subtasks
							</button>
						</a>
					{{/ifCond}}
          <!--Hide The Edit Button if user is not owner nor assignee -->
          {{#ifCond is_owner '||' is_assignee}}
						<button class="btn btn-primary" data-toggle="modal" data-target=".bs-modal-sm2-{{id}}">
							<i class="fa fa-edit"></i>
						</button>
          {{/ifCond}}
          <!--Hide The Delete Button if user is not owner -->
          {{#if is_owner}}
						<button type="button" class="btn btn-danger" onclick="delete{{../../items_title}}({{id}})">
							<i class="fa fa-trash"></i>
						</button>
          {{/if}}
          <div class="modal fade bs-modal-sm2-{{id}}">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Edit {{../items_title}} {{name}}</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                {{#if is_owner}}
                <div class="modal-body">
                  <form method="post" action="/{{../../page}}/update">
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="name">{{../../items_title}} Name</label>
												<input required type="text" class="form-control" placeholder="Task Name" name="name"
                          value="{{name}}" />
                      </div>
                      <div class="form-group col-md-6">
                        <label for="due_date">Due Date</label>
                        <br />
                        <input required class="form-control" type="date" placeholder="Due Date" name="due_date"
                          value="{{format_date}}" />
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-sm-4">
                        <label for="status">Status</label>
                        <select required class="custom-select mr-sm-2" name="status">
                          <option {{#ifCond status '==' 'To Do'}}selected{{/ifCond}} value="To Do">To Do</option>
                          <option {{#ifCond status '==' 'In Progress'}}selected{{/ifCond}} value="In Progress">In
                            Progress</option>
                          <option {{#ifCond status '==' 'On Hold'}}selected{{/ifCond}} value="On Hold">On Hold</option>
                          <option {{#ifCond status '==' 'Completed'}}selected{{/ifCond}} value="Completed">Completed
                          </option>
                        </select>
                      </div>
                      <div class="form-group col-md-8">
                        <label for="user">Assignee</label>
                        <select class="custom-select mr-sm-2" id="user" name="user" required>
                          {{#each ../../users}}
                          <option {{#ifCond this.id '===' ../assignee_id}}selected{{/ifCond}} value={{this.id}}>
                            {{this.name}} - {{this.email}}</option>
                          {{/each}}
                        </select>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-sm-12">
                        <textarea required maxlength="500" class="form-control" placeholder="Task Description"
                          name="description">{{description}}</textarea>
                        <input name="id" type="hidden" value="{{id}}" />
                      </div>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
                  </form>
                </div>
              </div><!-- /.modal-content -->
              {{else}}
              <!-- if is assignee -->
              <div class="modal-body">
                <form method="post" action="/{{../../page}}/update-status">
                  <div class="form-row">
                    <div class="form-group col-sm-4">
                      <label for="status">Status</label>
                      <select required class="custom-select mr-sm-2" name="status">
                        <option {{#ifCond status '==' 'To Do'}}selected{{/ifCond}} value="To Do">To Do</option>
                        <option {{#ifCond status '==' 'In Progress'}}selected{{/ifCond}} value="In Progress">In Progress
                        </option>
                        <option {{#ifCond status '==' 'On Hold'}}selected{{/ifCond}} value="On Hold">On Hold</option>
                        <option {{#ifCond status '==' 'Completed'}}selected{{/ifCond}} value="Completed">Completed
                        </option>
                      </select>
                    </div>
                    <input name="id" type="hidden" value="{{id}}" />
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
              </div><!-- /.modal-content -->
              {{/if}}
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>