<!-- SEARCH FORM -->
{{#if task_id}}
	<form class="search-form" action="/task/{{task_id}}" method="get">
{{else}}
	<form class="search-form" action="/project/{{project_id}}" method="get">
{{/if}}
	<div class="form-row">
		<label for="search_text">Text:</label>
		<input type="text" class="form-control col-md-2 mr-sm-2" name="search_text" value={{search_text}}>
		<label for="status">Status:</label>
		<select class="custom-select col-md-2 mr-sm-2" name="status">
			<option value="All">All</option>
			<option {{#ifCond status '==' 'To Do'}}selected{{/ifCond}} value="To Do">To Do</option>
			<option {{#ifCond status '==' 'In Progress'}}selected{{/ifCond}} value="In Progress">In Progress</option>
			<option {{#ifCond status '==' 'On Hold'}}selected{{/ifCond}} value="On Hold">On Hold</option>
			<option {{#ifCond status '==' 'Completed'}}selected{{/ifCond}} value="Completed">Completed</option>
		</select>
		<label for="user">Assignee</label>
		<select class="custom-select col-md-2 mr-sm-4" id="user" name="assignee">
			<option value="All">All</option>
			{{#each users}}
				<option {{#ifCond this.id '===' ../assignee}}selected{{/ifCond}} value={{this.id}}>{{this.name}}</option>
			{{/each}}
		</select>
		<button type="submit" value="Submit" class="btn btn-primary">Search</button>
	</div>
</form>
