<!-- NAV BAR -->
{{> navbar_partial}}
<!-- NAV BAR -->

<br />
<!-- ADD A TASK -->
<div class="container">
  <h2>Add a New Task to this Project</h2>
  <form id="add_Project" action="/projects" method="post">

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="Project_Name">Project Name</label>
        <input required type="text" class="form-control" placeholder="Project Name" name="Project_Name">
      </div>


      <div class="form-group col-md-6">
        <label for="Due_Date">Due Date</label>
        <br />
        <input required type="date" id="due_date" width="144" placeholder="Due Date" name="Due_Date" />
      </div>

    </div>


    <div class="form-row">

      <div class="form-group col-sm-2">
        <label for="status">Status</label>
        <select required class="custom-select mr-sm-2" id="status" name="Status">
          <option selected value="">Status...</option>
          <option value="To Do">To Do</option>
          <option value="In Progress">In Progress</option>
          <option value="On Hold">On Hold</option>
          <option value="Completed">Completed</option>
        </select>
      </div>

      <div class="form-group col-md-6">
        <label for="user">Project Owner</label>
        <!-- Can be re-used for tasks / subtasks forms -->
        <select class="custom-select mr-sm-2" id="user" name="user" required>
          <option selected value="">Project Owner...</option>
          {{#each users}}
          <option value={{this.id}}>{{this.name}} - {{this.email}}</option>
          {{/each}}
        </select>
      </div>
    </div>

    <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
  </form>
</div>



<!-- ADD PROJECTS -->


<!-- DISPLAY PROJECTS -->
</div>
<p></p>
<div class="container">
  <h2>Tasks for This Project</h2>
  <p></p>
  <table class="table table-striped">

    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Due Date</th>
        <th scope="col">Status</th>
        <th scope="col">Manage</th>
      </tr>
    </thead>

    <tbody>
      {{#each tasks}}
      <tr>
        <th scope="row">{{id}}</th>
        <td>{{name}}</td>
        <td>{{description}}</td>
        <td>{{due_date}}</td>
        <td>{{status}}</td>
        <td>
          <a href="/task/{{id}}"> <button type="button" class="btn btn-success"><i class="fa fa-edit"></i>
            </button></a>
          <button type="button" class="btn btn-danger" onclick="deleteTask({{Project_id}})"><i
              class="fa fa-trash"></i></button>
        </td>
      </tr>
      {{/each}}
    </tbody>

  </table>
</div>
<!-- DISPLAY PROJECTS -->
